@media screen and (min-width: $mbL) and (max-width: $tb) {
  .footer {
    padding-top: 55px;
    padding-bottom: 55px;

    &__title {
      font-size: 16px;

      padding-bottom: 20px;
    }

    &__description {
      display: none;

      &--extra-text {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #B9B9B9;
      }
    }

    &__icons-container {
      padding: 40px 0;
    }

    &__contacts {
      font-size: 16px;
      line-height: 26px;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1201px) {
  .footer {
    padding-top: 65px;
    padding-bottom: 65px;

    &__title {
      font-size: 16px;

      padding-bottom: 20px;
    }

    &__description {
      display: none;

      &--extra-text {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #B9B9B9;
      }
    }

    &__icons-container {
      padding: 40px 0;
    }

    &__contacts {
      font-size: 16px;
      line-height: 26px;
      display: flex;
      justify-content: center;
    }
  }
}