@media screen and (min-width: $mbL) and (max-width: $tb) {
  .container {
    padding: 0 85px;
  }
  .header {

    &__burger {
      display: none;
    }
  }

  .navigation {

    padding: 40px 0;

    &__menu {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

@media screen and (min-width: 1201px) {
  .header {

    &__burger {
      display: none;
    }
  }

  .navigation {

    padding: 45px 0;

    &__menu {
      display: flex;
      justify-content: space-evenly;
    }
  }
}