@media screen and (min-width: $mbL) and (max-width: $tb) {
  .last-shots {
    background: #f7f7f7;
    padding-bottom: 50px;

    &__image {
      display: inline;
      width: 31%;
    }
    &__image:nth-child(4) {
      display: none;
    };

  }

  .cta-subtitle {
    display: block;
  }

  .titles-container {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1201px) {
  .last-shots {
    background: #f7f7f7;
    padding-bottom: 50px;

    &__image {
      display: inline;
      width: 24%;
    }

  }

  .cta-subtitle {
    display: block;
  }

  .titles-container {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
    padding-top: 50px;
  }
}