@media screen and (min-width: $mbL) and (max-width: $tb) {
  .resent-posts {
    padding: 55px 0 0;

    &__item {
      display: flex;
    }

    &__item-img {
      margin-right: 15px;
    }

    &__item-title {
      font-size: 16px;
    }

    &__item-description {
      font-size: 12px;
    }

    &__item-text {
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      color: #5C5C5C;
    }
  }
}

@media screen and (min-width: 1201px) {
  .resent-posts {

    &__list {
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }

    &__item {
      display: flex;
    }

    &__item-img {
      margin-right: 15px;
    }

    &__item-title {
      font-size: 16px;
    }

    &__item-description {
      font-size: 12px;
    }

    &__item-text {
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      color: #5C5C5C;
    }
  }
}