.footer {
  background: black;
  text-align: center;

  padding-top: 40px;
  padding-bottom: 40px;

  &__title {
    font-weight: bold;
    font-size: 14px;
    color: #FEFEFE;
    text-transform: uppercase;

    padding-bottom: 10px;
  }

  &__description {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
  }

  &__icons-container {
    padding: 25px 0;
  }

  &__contacts {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #b9b9b9;

    &--link-color {
      color: #b9b9b9;
      margin: 0 10px;
    }
  }

}