.header {

  &__burger {
    float: right;
    position: relative;
  }

  &__burger-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 37px;
    background-color: black;
  }

  &__burger-line {
        width: 30%;
        height: 2px;
        background-color: white;
        transition: 0.3s all ease-in-out;
  }

  &__burger-line:nth-child(2) {
        margin: 2px 0;
  }
}

.burger-toggle {
  & > .header__burger-line:first-child {
    transform: rotate(47deg) translate(3px, 3px);
  }

  & > .header__burger-line:nth-child(2) {
    opacity: 0;
  }

  & > .header__burger-line:last-child {
    transform: rotate(-46deg) translate(2px,-3px);
  }
}

.navigation {
  padding: 20px 0;

  &__menu {
    display: none;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
  }

  &__img {
    width: 100%;
  }
}

.active-link {
  color: #57A4A4;
}

.burgermenu {
  position: absolute;
  content: "";
  left: -100px;
  right: 0;
  background: #F5F5F5;

  &__style {
    padding: 7px 0 7px 15px;
  }
  &__style:hover {
    background: #E5E5E5;
  }
}