.resent-posts {
  padding: 40px 0 0;

    &__item {
      margin-bottom: 30px;
    }

    &__item-img {
      margin-bottom: 15px;
    }

    &__item-title {
      font-weight: bold;
      font-size: 14px;
      color: #4e4e4e;
      margin-bottom: 15px;
    }

    &__item-description {
      font-weight: normal;
      font-size: 11px;
      color: #7C7C7C;
      margin-bottom: 15px;
    }

    &__item-text {
      display: none;
    }
  }
