//@import "src/scss/abstract/mixins";
.resent-posts {

  &__list {

  }

  &__item {

  }

  &__item-img {
    margin-bottom: 15px;
  }

  &__item-info {

  }

  &__item-title {
    //@include section-title;
    font-weight: bold;
    font-size: 14px;
    color: #4e4e4e;
    margin-bottom: 15px;
  }

  &__item-description {
    font-weight: normal;
    font-size: 11px;
    color: #7C7C7C;
    margin-bottom: 15px;
  }

  &__item-text {
    display: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
  }
}