body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin-bottom: 40px;
}

.clearfix {
  @include clearfix;
}

.section-title {
  @include section-title;
  text-transform: uppercase;
  margin-bottom: 25px;
}