body {
  font-family: 'Roboto', sans-serif;
}

.container {
  box-sizing: border-box;
  min-width: 280px;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.clearfix {
  @include clearfix;
}

.section-title {
  @include section-title;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.cta-subtitle {
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  justify-self: end;

  &--color-grey {
    color: #4E4E4E;
  }
}

.titles-container {
  display: grid;
  padding-top: 40px;
}
