@mixin clearfix() {
  &::after {
    display: block;
    content: ".";
    clear: both;
    visibility: hidden;
    height: 0;
  }
}

@mixin section-title() {
    font-weight: bold;
    font-size: 14px;
    color: $titles-color;
}