.navigation {

  &__container {
    margin: 25px 0;
  }

  &__menu {
    display: none;
    justify-content: space-evenly;
    //margin-top: 45px;
    //margin-bottom: 45px;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
  }
  &__link:hover {
    color: #57A4A4;
  }

  &__img {
    width: 100%;
  }
}