.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 37px;
  background-color: black;

  float: right;

  &__line {
    width: 30%;
    height: 2px;
    background-color: white;
    transition: 0.3s all ease-in-out;
  }

  &__line:nth-child(2) {
    margin: 2px 0;
  }
}

.burger-toggle {
  & > .burger__line:first-child {
    transform: rotate(47deg) translate(3px, 3px);
  }

  & > .burger__line:nth-child(2) {
    opacity: 0;
  }

  & > .burger__line:last-child {
    transform: rotate(-46deg) translate(2px,-3px);
  }
}
